.mines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 400px;
    background-color: #ededed;
}

.mines_container {
    display: flex;
    min-width: 200px;
    min-height: 200px;
    background-color: #f1f1f1;
}

.mines_field {
    display: grid;
    min-width: 200px;
    min-height: 20s0px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-color: rgb(186, 186, 186);
    border-style: dotted;
}

.mines_cell {
    display: flex;    
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-color: rgb(186, 186, 186);
    border-style: dotted;
    background-color: rgb(250, 250, 250);
}

.mines_cell:hover {
    background-color: #e7e7e745;
}

.mine {
    background-image: url("../images/mine.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #e11b1b2b;
}
.mines_settings {
    text-align: center;
    margin-bottom: 30px;
}
.settings_number {
    margin: 20px;
    width: 50px;
}

.mines_difficulty {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}